@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")
}

<!-- ko with: home -->
<div class="jumbotron">
    <h1>后台管理</h1>
</div>
<div class="row">
    <p>
        <div class="col-md-4">
            <h2><a href="Sellers">渔场主账号</a></h2>
        </div>
    </p>
    <p>
        <div class="col-md-4">
            <h2><a href="ApplicationUsers">用户账号</a></h2>
        </div>
    </p>
    @*<p>
        <div class="col-md-4">
            <h2><a href="Shops">用户账号</a></h2>
        </div>
    </p>*@
    <p>
        <div class="col-md-4">
            <h2><a href="Events">赛事</a></h2>
        </div>
    </p>
    <p>
        <div class="col-md-4">
            <h2><a href="Shops">渔场</a></h2>
        </div>
    </p>
 
    <p>
        <div class="col-md-4">
            <h2><a href="Orders">订单信息</a></h2>
        </div>
    </p>
    <p>
        <div class="col-md-4">
            <h2><a href="Information/Index">资讯</a></h2>
        </div>
    </p>
    <p>
        <div class="col-md-4">
            <h2><a href="InformationTypes">资讯类型</a></h2>
        </div>
    </p>
    <p>
        <div class="col-md-4">
            <h2><a href="Celebrities">名人堂</a></h2>
        </div>
    </p>
    <p>
        <div class="col-md-4">
            <h2><a href="Ads">广告</a></h2>
        </div>
    </p>
    <p>
        <div class="col-md-4">
            <h2><a href="Videos">名人视频</a></h2>
        </div>
    </p>
    <p>
        <div class="col-md-4">
            <h2><a href="Lives">直播</a></h2>
        </div>
    </p>
 

</div>

<!-- /ko -->
