@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")
}

<!-- ko with: home -->
<div class="jumbotron">
    <h1>后台管理</h1>
</div>
<div class="row">
    <p>
        <div class="col-md-4">
            <h2><a href="Sellers">渔场主账号管理</a></h2>
        </div>
    </p>
    <p>
        <div class="col-md-4">
            <h2><a href="Shops">用户账号管理</a></h2>
        </div>
    </p>
    <p>
        <div class="col-md-4">
            <h2><a href="Shops">渔场管理</a></h2>
        </div>
    </p>
    <p>
        <div class="col-md-4">
            <h2><a href="Orders">订单信息管理</a></h2>
        </div>
    </p>
    <p>
        <div class="col-md-4">
            <h2><a href="Information">新闻管理</a></h2>
        </div>
    </p>
    <p>
        <div class="col-md-4">
            <h2><a href="Ads">广告管理</a></h2>
        </div>
    </p>


</div>

<!-- /ko -->
