
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Weather</title>
</head>
<body>
    <iframe src="http://www.thinkpage.cn/weather/weather.aspx?uid=U44709AEF1&cid=CHBJ000000&l=zh-CHS&p=SMART&a=1&u=C&s=12&m=0&x=1&d=4&fc=&bgc=&bc=&ti=0&in=0&li=" frameborder="0" scrolling="no" width="200" height="300" allowTransparency="true"></iframe>
</body>
</html>
