@model IEnumerable<Fisheries.Models.Ad>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("创建新广告", "Create")
</p>

<div class="row">
    <p>
        <div class="col-md-4">
            <h2><a href="/Ads/All">所有</a></h2>
        </div>
    </p>
    <p>
        <div class="col-md-4">
            <h2><a href="/Ads/Home">首页</a></h2>
        </div>
    </p>
    <p>
        <div class="col-md-4">
            <h2><a href="/Ads/Events">赛事</a></h2>
        </div>
    </p>
    <p>
        <div class="col-md-4">
            <h2><a href="/Ads/FameHall">名人堂</a></h2>
        </div>
    </p>
    <p>
        <div class="col-md-4">
            <h2><a href="/Ads/Live">直播</a></h2>
        </div>
    </p>


</div>

