@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")
}

<!-- ko with: home -->
<div class="jumbotron">
    <h1>后台管理</h1>
</div>
<div class="row">
    <p>
        <div class="col-md-4">
            <h2><a href="SellerEvents">活动管理</a></h2>
        </div>
    </p>
    <p>
        <div class="col-md-4">
            <h2><a href="Information">赛果管理</a></h2>
        </div>
    </p>
    <p>
        <div class="col-md-4">
            <h2><a href="Manage">账号管理</a></h2>
        </div>
    </p>
    <p>
        <div class="col-md-4">
            <h2><a href="Shops">渔场管理</a></h2>
        </div>
    </p>
    <p>
        <div class="col-md-4">
            <h2><a href="SellerOrders">订单信息管理</a></h2>
        </div>
    </p>
    <p>
        <div class="col-md-4">
            <h2><a href="SellerOrders/OrderVerify">消费码验证</a></h2>
        </div>
    </p>


</div>

<!-- /ko -->
